---
//src/components/Card.astro
const {name, position, aboutMe, youtube, twitter, instagram, email, profileImage } = Astro.props;

import '../styles/card.css';
---

<div class="container">
    <div class="card-container">
        <div class="descripcion">
            <h1>{name}</h1>
            <h2>{position}</h2>
            <p>{aboutMe}</p>
            <div class="icons">
                <a href={youtube} class="hover-text" target="_blank">
                    <span class="tooltip-text" id="fade">
                        YouTube
                    </span>
                    <i class="bi bi-youtube"></i>
                </a>
                <a href={twitter} class="hover-text" target="_blank">
                    <span class="tooltip-text" id="fade">
                        Twitter
                    </span>
                    <i class="bi bi-twitter-x"></i>
                </a>
                <a href={instagram} class="hover-text" target="_blank">
                    <span class="tooltip-text" id="fade">
                        Instagram
                    </span>
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </div>
        <div class="image">
            <img src={profileImage} alt="">
        </div>
    </div>
</div>